* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    padding: 10px;    
}
.container {
    text-align: center;
    margin: auto;
    min-width: 380px;
    max-width: 800px;
    border: 2px dashed orangered;    
    background: linear-gradient(90deg, rgb(57, 189, 138) 0%, rgba(0, 212, 155, 1)100%);
    padding: 10px;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.535);
}
.container h1 {
    color: white;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #155, transparent);
    border-radius: 5px;
}
#container-tarefas {
    
}
.bloco {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.535);
    
}
.bloco input{
    font-size: 1.2em;
    border-radius: 2px;
    padding: 5px;
    border-radius: 5px;
    border-color: beige;
    margin: 10px 10px;
}
input[type=button] {
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    margin: 10px 10px;
}